{% extends "admin/base.html" %}
{% load i18n grp_tags static %}

{% block title %}{{ title }} | {% get_site_title %}{% endblock %}

{% block branding %}
    {# Use the div#grp-branding for branding elements, e.g. a logo #}
    {# <div id="grp-branding"></div> #}
{% endblock %}

{% block stylesheets %}
    <link href="{% static "grappelli/stylesheets/feincms.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "grappelli/jquery/ui/jquery-ui.min.css" %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "grappelli/stylesheets/screen.css" %}" rel="stylesheet" type="text/css" media="screen" />
    {% if LANGUAGE_BIDI %}
        <link href="{% static "grappelli/stylesheets/mueller/grid/output-rtl.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% block stylesheet_rtl %}{% static "grappelli/stylesheets/rtl.css" %}{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
    {% else %}
        <link href="{% static "grappelli/stylesheets/mueller/grid/output.css" %}" rel="stylesheet" type="text/css" media="screen" />
    {% endif %}
{% endblock %}

{% block extrahead %}
    <link href="{% static "parlhand/admin.css" %}" rel="stylesheet" type="text/css" media="screen" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js"></script>
    <script src="{% static "parlhand/admin_enhancements.js" %}"></script>
{% endblock %}

